# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
venv/
.env/

# Data files
data/*.csv

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# VSCode / PyCharm
.vscode/
.idea/
# Environment files
.env
